body{
    font-family: 'Titillium Web', sans-serif;
}

.clear{
    clear: both;
}

/***** CHOOSE YOUR CLASS CSS *****/

.website-choose-class{
    text-align: center;
    height: auto;
    padding-top: 50px;
}

.section-classes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section-classes .content-class{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-classes .content-class .classe-image{
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px
}

.section-classes .content-class .classe-about{
    max-width: 350px;
    line-height: 20px;
    font-weight: lighter;
    margin-bottom: 35px;
}

.section-classes .content-class .btn-choose{
    border: 2px solid black;
    padding: 15px;
}

.section-classes .content-class .btn-choose:hover{
    border: 2px solid black;
    padding: 15px;
    color: white;
    background: black;
    cursor: pointer;
}

.section-classes .content-class .btn-choose.active{
    border: 2px solid black;
    padding: 15px;
    color: white;
    background: black;
    cursor: pointer;
}

.website-choose-class .btn-play{
    margin-top: 80px;
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
}

.website-choose-class .pseudo-input{
    width: 300px;
    border: 2px solid black;
    text-align: center;
    padding: 4px;
    font-size: 18px;
}

.website-choose-class .btn-play:hover{
    margin-top: 80px;
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    color: white;
    background: black;
}
/*********************************/

/***** LEVEL UP *****/

.website-level-up{
    text-align: center;
    height: auto;
    padding-top: 50px;
}

.section-level-up{
    padding-top: 50px;
    padding-bottom: 80px;
}


.section-level-up .content-level-up .level-up-image{
    width: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px
}


.section-level-up .content-level-up .level-up-about ul li{
    padding-top: 10px;
}
/*********************************/

/***** BESTIAIRE *****/

.website-bestiaire{
    text-align: center;
    height: auto;
    padding-top: 50px;
}

.website-bestiaire .general-about{
    padding-bottom: 80px;
}

.liste-monster-bestiaire{
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.liste-monster-bestiaire-item{
    display: flex;
    padding-bottom: 70px;
}

.bestiaire-item-image-content .bestiaire-monster-image{
    width: 130px;
}

.bestiaire-item-about-content{
    text-align: left;
    max-width: 400px;
    padding-left: 25px;
}

.bestiaire-item-about-content h2{
    font-weight: bold;
    padding-bottom: 15px;
}

.bestiaire-item-about-content p{
    font-weight: bold;
    font-weight: lighter;
    font-size: 15px;
    line-height: 22px;
}

/*********************************/